<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web para Pruebas</title>
    <!-- recordar vincular el archivo de css: -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="bg-header">
        <h1 class="contenedor-h1">
            <div class="size-h1 a-center"><img src="/images/logo-mercado-liebre.svg" alt="Logo prueba"></div>
            <div class="size-h1 a-center">Barra de busqueda</div>
            <div class="size-h1v2 a-center">Comprar en cuotas</div>
        </h1>
        <nav>
            <ul class="ul-style">
                <li>Enlace1</li>
                <li>Enlace2</li>
                <li>Enlace3</li>
            </ul>
        </nav>        
    </header>
    <main>
        <h3>SECCION MAS BUSCADOS</h3>
        <section class="contenedor-section">
            <article class="box1">Box1
                <img class="img-size" src="/images/img-cafetera-moulinex.jpg" alt="Img prueba">
            </article>
            <article class="box2">Box2</article>
            <article class="box3">Box3</article>
            <article class="box4">Box4</article>
        </section>
        <h3>SECCION OFERTAS</h3>
        <section class="contenedor-section">
            <article class="box1">Box1</article>
            <article class="box2">Box2</article>
            <article class="box3">Box3</article>
            <article class="box4">Box4</article>
        </section>
    </main>
    <footer>
        <h2 class="bg-footer">Pie de pagina</h2>
    </footer>
    
</body>
</html>